@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Home Page</h1>
    <p>Here you will see our default landing page that we have built in other examples.</p>
</div>
